.footer {
  background: #fff;
  padding: 20px 0 30px 0;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 70px;
    gap: 100px;
  }

  &__section {
    flex: 1 1 0;
    min-width: 180px;

    h3 {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 10px;
      font-family: "Montserrat", Arial, sans-serif;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        margin-bottom: 5px;
        font-size: 16px;
        color: #222;

        span {
          margin-left: 20px;
        }
      }
    }
  }

  &__logo {
    width: 150px;
    height: 150px;
    overflow: hidden;

    &-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__divider {
    width: 1px;
    background: #222;
    height: 120px;
    align-self: center;
    margin: 0 20px;
  }

  &__contact {
    li {
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 1rem;
      svg {
        font-size: 1.1rem;
      }
    }
  }
}

@media (max-width: 900px) {
  .footer__container {
    flex-direction: column;
    align-items: stretch;
    gap: 0;
  }
  .footer__divider {
    display: none;
  }
  .footer__section {
    margin-bottom: 30px;
  }
}
.hr {
  margin: 10px 200px;
  margin-bottom: 50px;
  border: none;
  border-top: 1px solid #ccc;
}
