.profile_main {
  display: flex;
  flex-direction: column;
  max-width: 900px;
  align-items: center;
  padding: 40px 20px;
  font-family: "Segoe UI", sans-serif;

  .profile_image {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;

    img {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      object-fit: cover;
      border: 2px solid #000;
      margin-bottom: 10px;
    }

    input[type="file"] {
      margin-bottom: 10px;
    }

    &.no-upload::after {
      display: none !important;
    }
  }

  .profile_form {
    max-width: 600px; // Thêm dòng này
    h2 {
      text-align: center;
      font-size: 24px;
      margin-bottom: 20px;
    }
    .profile_input_1,
    .profile_input_2,
    .profile_input_3 {
      display: flex;
      flex-direction: column;
      gap: 16px;
      width: 100%;
      max-width: 600px; // Thêm dòng này

      label {
        font-size: 14px;
        font-weight: 500;
        color: #333;
      }

      input {
        padding: 10px 12px;
        border-radius: 8px;
        border: 1px solid #ccc;
        background-color: #f9f9f9;
        width: 100%; // Thêm dòng này
      }
    }
  }
}

.buttons {
  display: flex;
  gap: 16px;
  margin-top: 35px;

  button {
    background: #fff;
    color: #355383;
    border: none;
    border-radius: 8px;
    min-width: 100px;
    font-size: 1rem;
    padding: 10px 0;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.2s;
  }

  button:disabled {
    background: #b0b8c9;
    cursor: not-allowed;
  }

  button:hover:not(:disabled) {
    background: #355383;
    color: #fff;
  }
}
